# Fichiers d'environnement
.env

# Fichiers et dossiers de build
/build/
*.log
*.pyc
*.class
*.swp

# macOS
.DS_Store

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VSCode (décommenter si besoin)
#.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Swift/SwiftPM
.swiftpm/
.build/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android/Gradle
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
.cxx/
captures/
local.properties
key.properties
**/*.keystore
**/*.jks

# iOS/Xcode
**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Divers
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Symbolication et obfuscation
app.*.symbols
app.*.map.json

# Exceptions pour Xcode
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3